{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recipe Manager</title>

        <!-- bootstrap css -->
        <link rel="stylesheet" type="text/css" href="{% static 'plugins/bootstrap-4.3.1/css/bootstrap.min.css' %}">

        <!-- fonawesome css -->
        <link rel="stylesheet" type="text/css" href="{% static 'plugins/fontawesome-free-5.10.2/css/all.min.css' %}">

        <!-- datatable css -->
        <link rel="stylesheet" type="text/css" href="{% static 'plugins/datatables-1.10.18/datatables.min.css' %}">

        <!-- alertify css -->
        <link rel="stylesheet" type="text/css" href="{% static 'plugins/alertifyjs-1.11.4/css/alertify.min.css' %}">

        <!-- own css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

    </head>

    <body>
        {% include 'navbar.html' %}
        <div class="row-fluid d-flex justify-content-center">
            <div class="col-12 col-md-7 mt-4">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </body>

    {% include "ingredients/ingredientModal.html" %}
    
    <!-- jquery js -->
    <script src="{% static 'plugins/jquery-3.4.1/jquery-3.4.1.min.js' %}"></script>

    <!-- bootstrap js -->
    <script src="{% static 'plugins/bootstrap-4.3.1/js/bootstrap.min.js' %}"></script>

    <!-- datatable js -->
    <script src="{% static 'plugins/datatables-1.10.18/datatables.min.js' %}"></script>

    <!-- maskmoney js -->
    <script src="{% static 'plugins/maskmoney-3.1.1/maskmoney-3.1.1.js' %}"></script>

    <!-- alertify js -->
    <script src="{% static 'plugins/alertifyjs-1.11.4/alertify.min.js' %}"></script>

    <!-- own js -->
    <script src="{% static 'js/home.js' %}"></script>
    <script src="{% static 'ingredients.js' %}"></script>
</html>