{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="row"> {% csrf_token %}
    <div class="col-12">
        <span class="h1">Ingredients</span>
        <button id="newIngredient" class="btn btn-danger w-md mb-4 float-right"><i class="fa fa-plus"></i> New Ingredient</button>
    </div>
    <div class="col-12">
        <table id="igredientsTable" class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th class="text-center" style="width: 150px;">Ammount</th>
                    <th class="text-center" style="width: 150px;">Price (€)</th>
                    <th class="text-center" style="width: 150px;">Actions</th>
                </tr>
            </thead>
        
            <tbody id="ingredients_table_body">
            </tbody>
        </table>
    </div>
</div>

{% comment %} <script src="{% static 'ingredients.js' %}"></script> {% endcomment %}

{% endblock content %}
