{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="row"> {% csrf_token %}
        <div class="col-12">
            <span class="h1">Ingredients</span>
            <button id="newIngredient" class="btn btn-danger w-md mb-4 float-right"><i class="fa fa-plus"></i> New Ingredient</button>
        </div>
        <div class="col-12">
            <table id="igredientsTable" class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th class="text-center" style="max-width: 80px;">Ammount</th>
                        <th class="text-center" style="max-width: 80px;">Price (€)</th>
                        <th class="text-center" style="max-width: 80px;">Actions</th>
                    </tr>
                </thead>
            
                <tbody id="ingredients_table_body">
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}

{% block modal %}
    {% include "ingredient/ingredientModal.html" %}
{% endblock modal %}

{% block js %}
    <script src="{% static 'ingredient/ingredient.js' %}"></script>
{% endblock js %}