<div id="ingredientModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header pl-0">
                <h5 class="modal-title w-100 text-center position-absolute">Recipe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="text" class="form-control d-none" id="ingredient-id">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="ingredient-name" class="control-label">Name</label>
                            <input type="text" class="form-control" id="ingredient-name" placeholder="Name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="ingredient-price" class="control-label">Price</label>
                            <input type="text" class="form-control text-center maskmoney" id="ingredient-price">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="ingredient-measure" class="control-label">Measure unity</label>
                            <select class="form-control" id="ingredient-measure">
                                <option selected value="">Select a measure...</option> 
                                <option value="kg">Kilograms</option>
                                <option value="g">Grams</option>
                                <option value="l">Liters</option>
                                <option value="cl">Centiliters</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="ingredient-ammount" class="control-label">Ammount</label>
                            <input type="number" class="form-control text-center" id="ingredient-ammount" placeholder="Choose an ammount...">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group no-margin">
                            <label for="ingredient-description" class="control-label">Description</label>
                            <textarea class="form-control" id="ingredient-description" placeholder="Write something about the ingredient..."></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="saveNewIngredient" type="button" class="btn btn-outline-danger">Save</button>
            </div>
        </div>
    </div>
</div>